/* h태그는 블록요소 */
/* h태그를 block에서 inline-block으로 변경 */
/* 너비가 컨텐츠 크기만큼 늘어남 */
h1 {
  background-color: darkblue;
  color: white;
  display: inline-block;
}

/* 글자색은 빨강, 볼드체 */
span {
  color: red;
  font-weight: bold;
}