body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#todo-div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#todo-input {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;

  /* 
  li가 flex 컨테이너로 설정되었음  
  span에 flex-grow: 1 적용하면
  다른 요소들은 고정된 크기를 가지고 span은 남은 공간을 차지함
  */
  flex-grow: 1;
}

#add-btn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #b0b0b0;
}

/* To-do List Section */
#todo-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 5px 0;
  border-bottom: 1px solid #f2f2f2;
}

.complete {
  color: rgb(155, 155, 155);
  text-decoration: line-through;
}

li input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

li input[type="text"] {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
}

li button {
  width: 50px;
  height: 30px;
  margin-left: 10px;
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

li button:hover {
  background-color: #b0b0b0;
}

#todo-count {
  font-size: 1em;
  margin-bottom: 20px;
}

#delete-all-btn {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#delete-all-btn:hover {
  background-color: #b0b0b0;
}